@import '@fontsource/fira-mono';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--font-mono: 'Fira Mono', monospace;
}

html {
	/* firefox */
	color-scheme: dark;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: #1a1a1a;
	background-image: radial-gradient(
			farthest-corner at 40px 40px,
			#213547 0%,
			transparent 50%
		),
		radial-gradient(farthest-corner at 250px 180px, #29323c 0%, transparent 50%),
		radial-gradient(farthest-corner at 100px 120px, #667eea 0%, transparent 50%),
		radial-gradient(farthest-corner at 300px 100px, #764ba2 0%, transparent 50%);
}
